@using Talent.WebApp.Content.Resources
@model Talent.WebApp.Models.Account.ForgotPasswordModel

@{
    ViewBag.Title = "Forgot Password";
}

<div class="ui container cat-body-minheight">
    <p>Enter your email address below, and we'll email you instructions on how to reset your password.</p>
    <div class="ui text">
        @Html.ValidationSummary(true)
    </div>
    <div class="ui">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "ui form" }))
        {
            @Html.AntiForgeryToken()

            <div class="four fields">
                <div class="field">
                    @Html.LabelFor(x => x.Email)
                    @Html.TextBoxFor(x => x.Email, new { placeholder = "Email address" })
                </div>
            </div>

            <div class="fields">
                <div class="field">
                    <div id="skin-recaptcha-error"></div>
                    <div class="g-recaptcha" data-theme="light" data-sitekey="@Model.RecaptchaSiteKey" style="transform:scale(0.90);-webkit-transform:scale(0.90);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                </div>
            </div>

            <div class="ui primary submit button">@ViewModelLabels.Submit</div>
        }
    </div>
</div>

@section styles
{

    <style>
        .ui.label.visible:not(.dropdown), .ui.labels.visible .label {
            display: block !important;
        }

        iframe .recaptcha-checkbox-border {
            border-radius: 2px;
            background-color: #fff;
            border: 2px solid #c1c1c1;
            font-size: 1px;
            height: 14px !important;
            position: absolute;
            width: 14px !important;
        }

        iframe .rc-anchor-checkbox {
            margin: 12px 12px 2px 12px !important;
        }
    </style>
}

@section scripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="~/Scripts/Views/account.forgot.password.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/Views/recaptcha.validation.js"></script>
}






