@using Talent.WebApp.Content.Resources
@model Talent.WebApp.Models.Account.LoginModel

@{
    ViewBag.Title = "Login";
}

<div class="ui container cat-body-minheight">
    <h4>Haven't got account yet? <a href="/Account/Register" class="ui right">Register Here</a> </h4>
    <div class="ui text">
        @Html.ValidationSummary(true)
    </div>
    <div class="ui">
        <div id="ui-login-form"></div>
    </div>
</div>

@section styles
{

    <style>
        .ui.label.visible:not(.dropdown), .ui.labels.visible .label {
            display: block !important;
        }

        iframe .recaptcha-checkbox-border {
            border-radius: 2px;
            background-color: #fff;
            border: 2px solid #c1c1c1;
            font-size: 1px;
            height: 14px !important;
            position: absolute;
            width: 14px !important;
        }

        iframe .rc-anchor-checkbox {
            margin: 12px 12px 2px 12px !important;
        }
    </style>
}

@section scripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="~/Scripts/Views/account.login.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    @*<script src="~/Scripts/Views/recaptcha.validation.js"></script>*@
    @Scripts.Render("~/Scripts/ReactScripts/Form/SingleInput.jsx")
    @Scripts.Render("~/Scripts/ReactScripts/Form/CheckBox.jsx")
    @Scripts.Render("~/Scripts/ReactScripts/Form/FormErrors.jsx")
    @Scripts.Render("~/Scripts/ReactScripts/Account/Login.jsx")
}






