@model Talent.WebApp.Models.Account.RegisterModel
@{

    ViewBag.Title = "Registration";
}

<div class="ui container">

    <div class="ui">
        <div class="ui text">
            @Html.ValidationSummary(true)
        </div>
        <div id="reg-form"></div>
        @*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui form" }))
            {
                @Html.AntiForgeryToken()

                <div class="four fields">
                    <div class="field">
                        <label for="FirstName">First Name</label>
                        <input placeholder="First Name" name="FirstName" type="text" value="@(Model != null ? Model.FirstName : "")">
                    </div>

                    <div class="field">
                        <label for="LastName">Last Name</label>
                        <input placeholder="Last Name" name="LastName" type="text" value="@(Model != null ? Model.LastName : "")">
                    </div>
                </div>

                <div class="four fields">
                    <div class="field">
                        <label for="phone">Country Code</label>
                        <div class="ui right labeled input">
                            <select name="CountryDialCode" id="countryCode">
                                <option data-countryCode="NZ" value="NZ-64">New Zealand (+64)</option>
                                <optgroup label="Other countries">
                                    <option data-countryCode="AU" value="AU-61">Australia (+61)</option>
                                    <option data-countryCode="NZ" value="NZ-64">New Zealand (+64)</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <label for="MobilePhone">Mobile Phone</label>
                        <input placeholder="Mobile number" name="MobilePhone" type="number" value="@(Model != null ? Model.MobilePhone : "")">
                    </div>
                </div>

                <div class="four fields">
                    <div class="four wide field">
                        <label for="Username">Email</label>
                        <input placeholder="example@abc.com" name="Username" type="email" value="@(Model != null ? Model.Username : "")">
                    </div>
                </div>

                <div class="four fields">
                    <div class="field" id="password">
                        <label for="Password">Password</label>
                        <input name="password" type="password" placeholder="Password" value="@(Model != null ? Model.Password : "")">
                    </div>
                </div>

                <div class="four fields">
                    <div class="field">
                        <label for="ConfirmPassword">Confirm Password</label>
                        <input name="ConfirmPassword" type="password" placeholder="Confirm Password" value="@(Model != null ? Model.Password : "")">
                    </div>
                </div>

                <div class="fields">
                    <div class="field">
                        <div id="skin-recaptcha-error"></div>
                        <div class="g-recaptcha" data-theme="light" data-sitekey="@Model.RecaptchaSiteKey" style="transform:scale(0.90);-webkit-transform:scale(0.90);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                    </div>
                </div>

                <div class="fields">
                    <div class="inline field">
                        <div class="ui checkbox">
                            <input name="Terms" id="terms" type="checkbox">
                            <label for="terms">I agree to the <a href="/Home/TOC" target="_blank">terms and conditions</a></label>
                        </div>
                    </div>
                </div>

                <div class="fields">
                    <div class="field">
                        <div class="ui primary submit button" id="submit-btn">Submit</div>
                        <div class="ui reset button">Reset</div>
                    </div>
                </div>
            }*@
    </div>
</div>
@section styles
{
    <style>
        .ui.label.visible:not(.dropdown), .ui.labels.visible .label {
            display: block !important;
        }

        .recaptcha-checkbox-border {
            border-radius: 2px;
            background-color: #fff;
            border: 2px solid #c1c1c1;
            font-size: 1px;
            height: 14px !important;
            position: absolute;
            width: 14px !important;
        }

        .rc-anchor-checkbox {
            margin: 12px 12px 2px 12px !important;
        }
    </style>
}

@section scripts
{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="~/Scripts/Views/account.register.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    @Scripts.Render("~/Scripts/ReactScripts/Form/SingleInput.jsx")
    @Scripts.Render("~/Scripts/ReactScripts/Form/CheckBox.jsx")
    @Scripts.Render("~/Scripts/ReactScripts/Form/FormErrors.jsx")
    @Scripts.Render("~/Scripts/ReactScripts/Form/Select.jsx")
    @Scripts.Render("~/Scripts/ReactScripts/Account/Register.jsx")
    @*<script src="~/Scripts/Views/recaptcha.validation.js"></script>*@
}