<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
    @RenderSection("styles", required: false)
</head>
<body>

    <div >
        <div class="ui container large secondary menu">
            <a class="item" href="@Url.Action("Customer", "Admin")">Skin Admin</a>
            <a class="item" href="@Url.Action("Customer", "Admin")">Users</a>
           
            <div class="right menu">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
        <div class="ui container">
            <div class="ui divider"></div>
        </div>
        @RenderSection("masthead", required: false)

        @if (ViewBag.Title != null)
        {
            <div class="ui container">
                <h2>@ViewBag.Title</h2>
                <div class="ui divider"></div>
            </div>
        }

        @RenderBody()

        @Html.Partial("_Footer")
    </div>

    @Bundles.RenderScripts()
    <script>
        $(document).ready(function () {

            $('.ui.secondary.menu .item').click(function () {
                $('.ui.secondary.menu .item').removeClass("active");
                $(this).addClass("active");
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
